<h1><%= t 'site.url_shortened' %></h1>

<div class="row">
  <div class="col-lg-2"><%= t 'site.base_url' %></div>
  <div class="col-lg-10">
    <%= link_to @site.url, @site.url %>
  </div>
</div>
<div class="row">
  <div class="col-lg-2"><%= t 'site.shortened_url' %></div>
  <div class="col-lg-10">
    <%= redirect_url(token: @site.token) %>
  </div>
</div>

<div class="row other-site">
  <%= link_to t('site.shorten_other'), root_path %>
</div>
