<h1><%= t 'site.url_shortened' %></h1>

<div class="row">
  <div class="col-lg-2"><%= t 'site.base_url' %></div>
  <div class="col-lg-10">
    <%= link_to @site.url, @site.url %>
  </div>
</div>
<div class="row">
  <div class="col-lg-2"><%= t 'site.shortened_url' %></div>
  <div class="col-lg-10">
    <span id="site-url">
      <%= redirect_url(token: @site.token) %>
    </span>
    <button id="copy-btn" class="btn btn-default btn-xs">
      <%= t 'btn.copy' %>
    </button>
    <span id="url-copied" class="label label-success">
      <%= t 'site.url_copied' %>
    </span>
  </div>
</div>

<div class="row other-site">
  <%= link_to t('site.shorten_other'), root_path, class: 'btn btn-default' %>
</div>
